<section class="about pb-5 text-center" [style.backgroundColor]="this._appData.secondaryColor">
    
    <div class="container">
        
        <div class="row mb-4">
            
            
                <h2 class="display-6 mb-0 fw-bold text-white">ABOUT</h2>
                
                <div class="separator text-white">
                    <div class="separator-line bg-white"></div>
                    <div class="separator-icon">
                        <i class="fa-solid fa-star fa-2x"></i>
                    </div>
                    <div class="separator-line bg-white"></div>
                </div>
        </div>

        <div class="row g-4 justify-content-center">
            <div class="col-md-4"><p class="lead text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            <div class="col-md-4"><p class="lead text-white">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
        </div>
            
    </div>
</section>