
.navbar .nav-item .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}

.navbar .navbar-brand {
    cursor: pointer;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:active {
    color: #1abc9c;
}

.navbar .nav-item .nav-link.active {
    color: #fff;
    background: #1abc9c;
}

.navbar .navbar-toggler {
    color: #fff;
    font-weight: 700;
    font-size: 80%;
    background-color: #1abc9c;
}

.navbar .navbar-toggler .span {
    color: #fff;
}